@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100;200;300;400;500;600;700;800;900&display=swap');


.gradient{
    background-image: url('../img/bg-pattern.png'), 
    linear-gradient(90deg, rgb(220, 36, 48) 0%, rgb(123, 67, 151) 100%);  
}

.center {
    justify-content: center;
}

.phone {
    width: 100%;
}

.app-store {
    width: 100%;
}

.stop {
    background-image: url('../img/bg-cta.jpg'); 
       
}

.stop-right {

    text-align: right;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Catamaran', Helvetica, Arial, sans-serif;
    text-align: center;
}

.yellow {
    background-color: #f3c910;
} 

.dark {
    background-color: #757471; 
}

.row {
    display: flex;
}

.card {
    width: 100%;
    padding: 1.5rem;
}

.nav-down {
    text-align: center;
    width: 100%;
}

.heart {
      color: #ff0505;
}